{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_hotline %}
    <div class="col-md footer-column js-footer-column">
        {% block layout_footer_navigation_hotline_headline %}
            <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                    id="collapseFooterHotlineTitle"
                    data-target="#collapseFooterHotline"
                    aria-expanded="true"
                    aria-controls="collapseFooterHotline">
                {{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}
                {% block layout_footer_navigation_hotline_icons %}
                    <div class="footer-column-toggle">
                        <span class="footer-plus-icon">
                            {% sw_icon 'plus' %}
                        </span>
                        <span class="footer-minus-icon">
                            {% sw_icon 'minus' %}
                        </span>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_navigation_hotline_content %}
            <div id="collapseFooterHotline"
                    class="footer-column-content collapse js-footer-column-content "
                    aria-labelledby="collapseFooterHotlineTitle">
                <div class="footer-column-content-inner">
                    {% for shippingMethod in page.salesChannelShippingMethods %}
                        {% block layout_footer_shipping_logo %}
                            {% if shippingMethod.media %}
                                <div class="footer-logo is-shipping">
                                    {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                        media: shippingMethod.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'img-fluid footer-logo-image',
                                            'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                            'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                        }
                                    } %}
                                </div>
                            {% endif %}
                        
                        {% endblock %}
                    {% endfor %}

                    <p class="footer-column-headline footer-headline">{{ 'footer.paymentHeadline'|trans|sw_sanitize }}</p>

                    <div class="row no-gutters payment-methods-pictures">
                        {% for paymentMethod in page.salesChannelPaymentMethods %}
                             {% block layout_footer_payment_logo %}
                                 {% if paymentMethod.media %}
                                    <div class="col-auto">
                                        <div class="footer-logo is-payment {% if not loop.last %}pr-10{% endif %}">
                                            {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                                media: paymentMethod.media,
                                                sizes: {
                                                    'default': '100px'
                                                },
                                                attributes: {
                                                    'class': 'img-fluid footer-logo-image',
                                                    'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                                    'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                                }
                                            } %}
                                        </div>
                                    </div>
                                 {% endif %}
                             {% endblock %}
                         {% endfor %}
                    </div>                   
                </div>            
            </div>
        {% endblock %}
    </div>
{% endblock %}


{% block layout_footer_navigation_columns %}
    {% for root in page.footer.navigation.tree %}
        {% block layout_footer_navigation_column %}
            <div class="col-md footer-column js-footer-column">
                {% block layout_footer_navigation_information_headline %}
                    <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                            data-target="#collapseFooterTitle{{ loop.index }}"
                            aria-expanded="true"
                            aria-controls="collapseFooter{{ loop.index }}">

                        {% if root.category.type == 'folder' %}
                            {{ root.category.translated.name }}
                        {% else %}
                            <a href="{{ category_url(root.category) }}"
                                {% if category_linknewtab(root.category) %}target="_blank"{% endif %}
                                title="{{ root.category.translated.name }}">
                                {{ root.category.translated.name }}
                            </a>
                        {% endif %}
                        {% block layout_footer_navigation_information_icons %}
                            <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                                <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block layout_footer_navigation_information_content %}
                    <div id="collapseFooter{{ loop.index }}"
                            class="footer-column-content collapse js-footer-column-content"
                            aria-labelledby="collapseFooterTitle{{ loop.index }}">
                        <div class="footer-column-content-inner">
                            {% block layout_footer_navigation_information_links %}
                                <ul class="list-unstyled">
                                    {% for treeItem in root.children %}
                                        {% set category = treeItem.category %}
                                        {% set name = category.translated.name %}

                                        {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                                        {% set externalLink = category.translated.externalLink %}
                                        {% block layout_footer_navigation_information_link_item %}
                                            <li class="footer-link-item">
                                                {% block layout_footer_navigation_information_link %}
                                                    {% if category.type == 'folder' %}
                                                        <div>{{ name }}</div>
                                                    {% else %}
                                                        <a class="footer-link"
                                                            href="{{ category_url(category) }}"
                                                            {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                            title="{{ name }}">
                                                            {{ name }}
                                                        </a>
                                                    {% endif %}
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% endfor %}

    <div class="col-md-auto footer-column js-footer-column">
        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                id="collapseFooterContactTitle"
                data-target="#collapseFooterContact"
                aria-expanded="true"
                aria-controls="collapseFooterContact">
                {{ 'footer.serviceContactHeadline'|trans|sw_sanitize }}
            
                <div class="footer-column-toggle">
                    <span class="footer-plus-icon">
                        {% sw_icon 'plus' %}
                    </span>
                    <span class="footer-minus-icon">
                        {% sw_icon 'minus' %}
                    </span>
                </div>
        </div>

        <div id="collapseFooterContact"
                class="footer-column-content collapse js-footer-column-content "
                aria-labelledby="collapseFooterContactTitle">
            <div class="footer-column-content-inner">
             
                <div class="row mx-0 footer-social-icons-container">
                    <a href="{{ "socialMedia.instagram.link"|trans|sw_sanitize }}" 
                    title="{{ "socialMedia.instagram.title"|trans|sw_sanitize }}" 
                    class="col-auto footer-social-link">
                        {% sw_icon 'fb' style { 'pack': 'picagram' } %}
                    </a>

                    <a href="{{ "socialMedia.facebook.link"|trans|sw_sanitize }}" 
                    title="{{ "socialMedia.facebook.title"|trans|sw_sanitize }}" 
                    class="col-auto footer-social-link">
                        {% sw_icon 'instagramm' style { 'pack': 'picagram' } %}
                    </a>
                </div>

                <p>© 2021 PICAGRAM</p>
            </div>            
        </div>
    </div>
{% endblock %}

{% block layout_footer_payment_shipping_logos %}
{% endblock %}

{% block layout_footer_bottom %}
{% endblock %}